<div class="form-main-wrapper animal-add">
    <img src="/img/silueta_logo.svg" alt="" class="silhouette">
    <div class="form-container">
        <div class="form-content">

            <form action="/employees/add" method="POST" class="signup-form">
                <h2 class="form-title">Subir Animal</h2>

                <div class="form-group">
                    <label>Nombre Completo</label>
                    <input type="text" name="nombre" class="form-control">
                </div>
                <div class="form-group">
                    <label>Especie</label>
                    <input type="email" class="form-control" name="email" aria-describedby="emailHelp"
                        placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" name="cedula" class="form-control">
                </div>
                <div class="form-group">
                    <label>Edad</label>
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                    <label>Sexo</label>
                    <input type="password" name="passwordConfirm" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                    <label>Caracteristicas</label>
                    <input type="password" name="passwordConfirm" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                    <label>Sitio de rescate</label>
                    <input type="password" name="passwordConfirm" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                    <label>Fecha de rescate</label>
                    <input type="password" name="passwordConfirm" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                    <label>Raza</label>
                    <input type="password" name="passwordConfirm" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                    <label>Color</label>
                    <input type="password" name="passwordConfirm" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                    <label>Vacunas</label>
                    <input type="password" name="passwordConfirm" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                    <label>Esterilizado</label>
                    <input type="password" name="passwordConfirm" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                    <label>Desparasitado</label>
                    <input type="password" name="passwordConfirm" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                    <label>Tamaño</label>
                    <input type="password" name="passwordConfirm" class="form-control" placeholder="Password">
                </div>


                <div class="container animal add">
                    <h1>Subir imagen</h1>
                    <div class="imageUpload-container">
                        <form action="/animals/add" method="post" enctype="multipart/form-data">
                            <input type="file" class="image-selector-button" name="image">
                            <button type="submit" class="btn btn-primary">Subir imagen</button>
                        </form>
                    </div>
                </div>


                <div class="form-group">
                    <label>Custodia</label>
                    <input type="password" name="passwordConfirm" class="form-control" placeholder="Password">
                </div>
                <div class="form-textbox">
                    <button type="submit" name="submit" id="submit" class="submit" class="btn btn-primary">Registrar
                        Empleado</button>
                </div>
            </form>



        </div>
    </div>
</div>