 <img src="/img/pattern3.svg" alt="" class="silhouette">
<div class="form-main-wrapper animal-add">
   
    <div class="form-container">
        <div class="form-content">

            <form action="/animals/add" method="POST" class="signup-form" enctype="multipart/form-data">
                <h2 class="form-title">  <i class="fas fa-cat"></i> Registrar Animal  <i class="fas fa-dog"></i></h2>

                <div>
                    <label>Especie: </label>
                    <div class="form-group">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline1" value="perro" name="especie"
                                class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline1">Perro</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline2" value="gato" name="especie"
                                class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline2">Gato</label>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" name="nombre" class="form-control">
                </div>
                <div class="form-group">
                    <label>Edad</label>
                    <input class="form-control" type="number" value="30" min="1" name="edad">
                </div>
                <div class="form-group">
                    <div>
                        <label>Sexo: </label>
                        <div class="form-group">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline5" value="macho" name="sexo"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline5">Macho</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline4" value="hembra" name="sexo"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline4">Hembra</label>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label>Caracteristicas</label>
                    <textarea class="form-control" name="caracteristicas" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label>Sitio de rescate</label>
                    <input type="text" name="sitio_rescate" class="form-control" placeholder="">
                </div>
                <div class="form-group">
                    <label>Fecha de rescate</label>
                    <input class="form-control" type="date" name="fecha_rescate" id="example-date-input">

                </div>

                <div class="form-group">
                    <label>Raza</label>
                    <input type="text" name="raza" class="form-control" placeholder="">
                </div>
                <div class="form-group">
                    <label>Color</label>
                    <input type="text" name="color" class="form-control" placeholder="">
                </div>
                <div class="form-group">
                    <label>Vacunas</label>
                    <input type="text" name="vacunas" class="form-control" placeholder="">
                </div>

                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="esterilizado" value='1'
                            id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Esterilizado</label>


                    </div>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="desparasitado" value="1"
                            id="customCheck2">
                        <label class="custom-control-label" for="customCheck2">Desparasitado</label>

                    </div>
                </div>

                <div class="form-group">
                    <label>Altura al hombro (centimetros)</label>
                    <input class="form-control" type="number" value="30" min="1" name="tamanio" placeholder="">

                </div>


                <div class="form-group">
                    <label>Foto del animal</label>
                    <div>
                        <input type="file" class="image-selector-button" name="image">

                    </div>

                    <div class="form-group">
                        <label>Custodia</label>
                        <input type="text" name="custodia" class="form-control" placeholder="">
                    </div>
                    <div class="form-textbox">
                        <button type="submit" name="submit" id="submit" class="submit" value="register"/>
                        Registrar <i class="fas fa-paw"></i></button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>