<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=h<">
    <title>Document</title>
</head>
<body>
    <h1>Subir imagen</h1>
    <form action="/animals/add" method="post" enctype="multipart/form-data"> 
        <input type="file" name="image">
        <button type="submit">Subir imagen</button>
    </form>
</body>
</html>