<div class="animal-add-container">
  <h2>Animales en custodia:</h2>

  {{>message}}
  <div class="card-group">
    {{#each animals}}
    <div class="card">
      <img src="{{ruta_imagen}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Nombre: <br> {{nombre}}</h5>
        <h5 class="card-text">Edad:<br> {{edad}}</h5>
        <div class="buttons">
          <a href="/animals/delete" class="btn btn-success">Adoptado <i class="fas fa-check"></i></a>
          <a href="/animals/delete" class="btn btn-primary">Ver Detalles</a>
        </div>

        <div class="caracteristics">{{caracteristicas}}</div>


      </div>
    </div>

    {{/each}}
  </div>
  <a class="top-button" href="#top"><i class="fas fa-arrow-up"></i></a>
</div>