
{{#each animales}}
<div class="card" style="width: 18rem;">
  <img src={{ruta_imagen}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{nombre}}</h5>
    <p class="card-text">{{caracteristicas}}</p>
     <p class="card-text">Edad: {{edad}}</p>
    <a href="/aminals/delete" class="btn btn-danger">eliminar</a>
    <a href="/aminals/delete" class="btn btn-primary">marcar como adoptado</a>
  </div>
</div>
{{/each}}