<div class="heroSection">
    <div class="heroContent">
        <div class="text">
            <h1>Bienvenido a nuestra plataforma!</h1>
            <h2>Adopta un cachorrito</h2>
            <button class="btn btn-adoptar button-message">Quiero adoptar</button>
        </div>

        <div class="social-container">
            <a href="https://es-la.facebook.com/fundamorcalarca/" target="_blanc" > <i class="fab fa-facebook"></i></a>
            <a href="https://www.youtube.com/channel/UCNkfxop_V7eirZh_qmgdWfA" target="_blanc"
                class="fab fa-youtube"></a>
            <a href="https://www.instagram.com/fundamorcalarca/" target="_blanc" class="fab fa-instagram"></a>
        </div>
    </div>
</div>


<div class="carrousel-wrapper">
    <section class="regular slider">
        <div>
            <img src="/img/carrousel_images/img2.jpg">
        </div>
        <div>
            <img src="/img/carrousel_images/img3.jpg">
        </div>
        <div>
            <img src="/img/carrousel_images/img4.jpg">
        </div>
        <div>
            <img src="/img/cat_3.jpg">
        </div>
        <div>
            <img src="/img/isotipo.png">
        </div>
        <div>
            <img src="/img/cat_3.jpg">
        </div>
    </section>
    <script>
        $('.slider').slick({
            centerMode: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            dots: true,
            infinite: true,
            mobileFirst: true,
            cssEase: 'linear',
            variableWidth: true,
        });
    </script>
</div>