<div class="card bg-dark text-white" style="border: none;">
  <img src="/img/cat_3.jpg" class="img-fluid" alt="Responsive image">
  <div class="card-img-overlay">
    
        <div class="heroSection">

        <div class="text">
            <h1 class="card-title">Bienvenido a nuestra plataforma!</h1>
            <h2 class="card-text">Adopta un cachorrito</h2>
            <button class="btn btn-adoptar">Quiero adoptar</button>
        </div>
        

    
        <div class="social-container">
            <a href="https://es-la.facebook.com/fundamorcalarca/" target="_blanc" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="https://www.youtube.com/channel/UCNkfxop_V7eirZh_qmgdWfA" target="_blanc"
                class="fa fa-youtube"></a>
            <a href="https://www.instagram.com/fundamorcalarca/" target="_blanc" class="fa fa-instagram"></a>
        </div>

    </div>
  </div>
</div>
<div class="main-wrapper">




    <div class="carrousel-wrapper">
        <section class="regular slider">
            <div>
                <img src="/img/carrousel_images/img2.jpg">
            </div>
            <div>
                <img src="/img/carrousel_images/img3.jpg">
            </div>
            <div>
                <img src="/img/carrousel_images/img4.jpg">
            </div>
            <div>
                <img src="/img/cat_3.jpg">
            </div>
            <div>
                <img src="/img/isotipo.png">
            </div>
            <div>
                <img src="/img/cat_3.jpg">
            </div>
        </section>
        <script>
            $('.slider').slick({
                centerMode: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                dots: true,
                infinite: true,
                mobileFirst: true,//add this one
                cssEase: 'linear',
                variableWidth: true,
            });
        </script>
    </div>
</div>