<footer>
    <div class="row">
      <div class="col-6">
        <p><i class="fa fa-phone" aria-hidden="true"></i> +57 1124359</p>
			<p><i class="fa fa-envelope" aria-hidden="true"></i> info@gmail.com</p>
      </div>
      <div class="col-6" style="text-align: right;">
        <h3>Información de contacto</h3>
        <p>Si tienes alguna duda respecto a nuestros procesos de adopción ¡Contactanos!</p>
        </ul>
      </div>
    </div>
 
    <div class="row">
      <div class="col-12">&copy; 2020 Todos los derechos reservados </div>
    </div>
</footer>