<nav class="navbar navbar-expand-lg nav" id="menu">

  <a class="navbar-brand " href="/">
    <img src="/img/logotipo.svg" width="130" alt="Fundamor" loading="lazy">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
   
      <ul class="navbar-nav ">
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Animales <span class="sr-only">(current)</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/animals/add">Registrar Nuevo</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/animals">Consultar Lista </a>
          </div>
        </li>

        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Empleados <span class="sr-only">(current)</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <a class="dropdown-item" href="/employees/add">Agregar</a>
            <a class="dropdown-item" href="/employees">Consultar Lista</a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/employees/login">logIn</a>
            <a class="dropdown-item" href="/employees/logout">logout</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/statistics">Estadisticas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Adopciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Acerca De</a>
        </li>



      </ul>
  
  </div>

</nav>