<img src="/img/pattern3.svg" class="silhouette">
<div class="form-main-wrapper animal-add">

    <div class="form-container">
        <div class="form-content">
            <form action="/adopters/form_part2" method="POST" novalidate>
                <h2 class="form-title"> <i class="fas fa-cat"></i> Registrar Adoptante <i class="fas fa-dog"></i></h2>
                <h3>Cuestionario</h3>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label>¿Quien es la persona que autoriza la adopción?</label>
                        <input type="text" name="nombre" class="form-control" required>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label>¿Todos los miembros de la familia están de acuerdo con la adopción de la
                            mascotal?</label>
                        <input class="form-control" type="text" name="apellido" required>
                    </div>


                    <div class="col-md-12 mb-3">
                        <label>¿Actualmente tiene otros animales?</label>
                        <div class="form-group">
                            <select class="custom-select" name="tipo_documento" required>
                                <option value="">Seleccione...</option>
                                <option value="Grande">Si</option>
                                <option value="Mediano">No</option>

                            </select>

                            <div class="col-md-12 mb-3">
                                <label>Cuales:</label>
                                <input type="text" name="celular" class="form-control" required>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label>¿Anteriormente ha tenido otros animales?</label>
                        <div class="form-group">
                            <select class="custom-select" name="tipo_documento" required>
                                <option value="">Seleccione...</option>
                                <option value="Grande">Si</option>
                                <option value="Mediano">No</option>

                            </select>

                            <div class="col-md-12 mb-3">
                                <label>Cuales:</label>
                                <input type="text" name="celular" class="form-control" required>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label>¿Que paso con ellos?</label>
                                <input type="text" name="celular" class="form-control" required>
                            </div>
                            <label>¿Cumplieron con el plan da vacunación y desparasitación establecido?</label>
                            <div class="form-group">
                                <select class="custom-select" name="tipo_documento" required>
                                    <option value="">Seleccione...</option>
                                    <option value="Grande">Si</option>
                                    <option value="Mediano">No</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label>¿Hay niños en la casa?</label>
                        <div class="form-group">
                            <select class="custom-select" name="tipo_documento" required>
                                <option value="">Seleccione...</option>
                                <option value="Grande">Si</option>
                                <option value="Mediano">No</option>

                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Edades:</label>
                            <input type="text" name="documento_identidad" class="form-control" required>
                        </div>

                    </div>

                    <div class="col-md-12 mb-3">
                        <label>¿Alguno de sus vecinos tiene mascota?</label>
                        <div class="form-group">
                            <select class="custom-select" name="tipo_documento" required>
                                <option value="">Seleccione...</option>
                                <option value="Grande">Si</option>
                                <option value="Mediano">No</option>

                            </select>
                        </div>

                    </div>

                    <div class="col-md-12 mb-3">
                        <label>En caso de alquiler, ¿sus arrendadores permiten animales en la casa o
                            departamento?</label>
                        <div class="form-group">
                            <select class="custom-select" name="tipo_documento" required>
                                <option value="">Seleccione...</option>
                                <option value="Grande">Si</option>
                                <option value="Mediano">No</option>
                                <option value="Mediano">No se</option>
                                <option value="Mediano">Viven en casa propia</option>

                            </select>
                        </div>

                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Si por algún motivo tuviera que cambiar de domicilio, ¿Qué pasaría con la
                            mascota?</label>
                        <input type="text" name="documento_identidad" class="form-control" required>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label>¿Cuentan con el espacio adecuado para tener la mascota?</label>
                        <div class="form-group">
                            <select class="custom-select" name="tipo_documento" required>
                                <option value="">Seleccione...</option>
                                <option value="Grande">Si</option>
                                <option value="Mediano">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label>¿Están dispuestos a dedicar el tiempo que requiera su etapa de entrenamiento?</label>
                        <div class="form-group">
                            <select class="custom-select" name="tipo_documento" required>
                                <option value="">Seleccione...</option>
                                <option value="Grande">Si</option>
                                <option value="Mediano">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label>¿Pueden cuidar responsablemente el adoptado hasta que se muera de vejez?</label>
                        <div class="form-group">
                            <select class="custom-select" name="tipo_documento" required>
                                <option value="">Seleccione...</option>
                                <option value="Grande">Si</option>
                                <option value="Mediano">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label>¿Cuentan con el dinero para cubrir las necesidades básicas como el alimento, las vacunas
                            anuales, la desparasitación trimestral, juguetes y los artículos de limpieza e higiene?
                        </label>
                        <div class="form-group">
                            <select class="custom-select" name="tipo_documento" required>
                                <option value="">Seleccione...</option>
                                <option value="Grande">Si</option>
                                <option value="Mediano">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label>¿Están dispuestos a pagar los gastos veterinarios si la mascota se enferma?</label>
                        <div class="form-group">
                            <select class="custom-select" name="tipo_documento" required>
                                <option value="">Seleccione...</option>
                                <option value="Grande">Si</option>
                                <option value="Mediano">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label>¿Están dispuestos a recoger sus excrementos cuando haga sus necesidades fuera de
                            casa?</label>
                        <div class="form-group">
                            <select class="custom-select" name="tipo_documento" required>
                                <option value="">Seleccione...</option>
                                <option value="Grande">Si</option>
                                <option value="Mediano">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>¿Donde Dormirá la mascota?</label>
                        <input type="text" name="documento_identidad" class="form-control" required>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>En caso de una ruptura en la familia (divorcio, fallecimiento) o de la llegada de un
                            nuevo integrante humano,║¿Son concientes de que el adoptado será un miembro mas de la
                            familia?</label>
                        <input type="text" name="tel_casa" class="form-control" required>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label>¿Son concientes de que el adoptado será un miembro mas de la familia?</label>
                        <div class="form-group">
                            <select class="custom-select" name="tipo_documento" required>
                                <option value="">Seleccione...</option>
                                <option value="Grande">Si</option>
                                <option value="Mediano">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label>¿Estan de acuerdo en que se haga una visita periódica a su domicilio para ver como se
                            encuentra el adoptado?</label>
                        <div class="form-group">
                            <select class="custom-select" name="tipo_documento" required>
                                <option value="">Seleccione...</option>
                                <option value="Grande">Si</option>
                                <option value="Mediano">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>¿Que características buscan en la nueva mascota? (Especie, Tamaño, edad, sexo,
                            temperamento)</label>
                        <input type="text" name="celular" class="form-control" required>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>Municipo Residencia:</label>
                        <div class="form-group">
                            <select class="custom-select" name="ciudad" required>
                                <option value="">Seleccione...</option>
                                <option value="Grande">Armenia</option>
                                <option value="Mediano">Calarcá</option>
                                <option value="Grande">Montenegro</option>
                                <option value="Grande">Circasia</option>
                                <option value="Grande">Buenavista</option>
                                <option value="Grande">Filandia</option>
                                <option value="Grande">Tebaida</option>
                                <option value="Grande">Quimbaya</option>
                                <option value="Grande">Córdoba</option>
                                <option value="Grande">Génova</option>
                                <option value="Grande">Salento</option>
                                <option value="Grande">Piajo</option>
                                <option value="Grande">Otro</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Dirección:</label>
                        <input type="text" name="direccion" class="form-control" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Ocupación:</label>
                        <input type="text" name="ocupacion" class="form-control" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Correo:</label>
                        <input type="text" name="ciudad" class="form-control" required>
                    </div>
                </div>
                <div class="form-inline justify-content-end">
                    <a href="/" class="btn btn-secondary form-control mr-sm-2">Atras</a>
                    <button type="submit" class="btn btn-success form-control mr-sm-2"> Siguiente</button>
                </div>
            </form>
        </div>
    </div>
</div>