<img src="/img/pattern3.svg" class="silhouette">
<div class="form-main-wrapper animal-add">

    <div class="form-container">
        <div class="form-content">
            <form>
                  
                <h2 class="form-title"> <i class="fas fa-cat"></i> Respuestas Del Cuestionario<i class="fas fa-dog"></i></h2>

                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label>¿Quien es la persona que autoriza la adopción?</label>
                        <input type="text" name="nombre" class="form-control" autofocus>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label>¿Todos los miembros de la familia están de acuerdo con la adopción de la
                            mascotal?</label>
                        <div class="form-group">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio1q1" value="Si" name="pregunta1"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="radio1q1">Si</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio2q1" value="No" name="pregunta1"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="radio2q1">No</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label>¿Actualmente tiene otros animales?</label>
                        <div class="form-group">
                            <div class="form-group">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="radio1q2" value="Si" name="pregunta2"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="radio1q2">Si</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="radio2q2" value="No" name="pregunta2"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="radio2q2">No</label>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label>¿Cuales?</label>
                                <input type="text" name="q2cuales" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label>¿Anteriormente ha tenido otros animales?</label>
                        <div class="form-group">
                            <div class="form-group">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="radio1q3" value="Si" name="pregunta3"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="radio1q3">Si</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="radio2q3" value="No" name="pregunta3"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="radio2q3">No</label>
                                </div>
                            </div>

                            <div class="col-md-12 mb-3">
                                <label>¿Cuales?</label>
                                <input type="text" name="q3cuales" class="form-control">
                            </div>
                            <div class="col-md-12 mb-3">
                                <label>¿Que paso con ellos?</label>
                                <input type="text" name="q3historia" class="form-control">
                            </div>
                            <label>¿Cumplieron con el plan da vacunación y desparasitación establecido?</label>
                            <div class="form-group">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="radio1q4" value="Si" name="pregunta4"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="radio1q4">Si</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="radio2q4" value="No" name="pregunta4"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="radio2q4">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label>¿Hay niños en la casa?</label>
                        <div class="form-group">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio1q5" value="Si" name="pregunta5"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="radio1q5">Si</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio2q5" value="No" name="pregunta5"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="radio2q5">No</label>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Edades:</label>
                            <input type="text" name="edades" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label>¿Alguno de sus vecinos tiene mascota?</label>
                        <div class="form-group">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio1q6" value="Si" name="pregunta6"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="radio1q6">Si</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio2q6" value="No" name="pregunta6"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="radio2q6">No</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label>En caso de alquiler, ¿sus arrendadores permiten animales en la casa o
                            departamento?</label>
                        <div class="form-group">
                            <select class="custom-select" name="pregunta7">
                                <option value="">Seleccione...</option>
                                <option value="Si">Si</option>
                                <option value="No">No</option>
                                <option value="No se">No se</option>
                                <option value="Casa propia">Viven en casa propia</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-md-12 mb-3">
                        <label>Si por algún motivo tuviera que cambiar de domicilio, ¿Qué pasaría con la
                            mascota?</label>
                        <input type="text" name="pregunta8" class="form-control">
                    </div>

                    <div class="col-md-12 mb-3">
                        <label>¿Cuentan con el espacio adecuado para tener la mascota?</label>
                        <div class="form-group">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio1q9" value="Si" name="pregunta9"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="radio1q9">Si</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio2q9" value="No" name="pregunta9"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="radio2q9">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label>¿Están dispuestos a dedicar el tiempo que requiera su etapa de entrenamiento?</label>
                        <div class="form-group">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio1q10" value="Si" name="pregunta10"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="radio1q10">Si</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio2q10" value="No" name="pregunta10"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="radio2q10">No</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label>¿Pueden cuidar responsablemente el adoptado hasta que se muera de vejez?</label>
                        <div class="form-group">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio1q11" value="Si" name="pregunta11"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="radio1q11">Si</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio2q11" value="No" name="pregunta11"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="radio2q11">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label>¿Cuentan con el dinero para cubrir las necesidades básicas como el alimento, las vacunas
                            anuales, la desparasitación trimestral, juguetes y los artículos de limpieza e higiene?
                        </label>
                        <div class="form-group">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio1q12" value="Si" name="pregunta12"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="radio1q12">Si</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio2q12" value="No" name="pregunta12"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="radio2q12">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label>¿Están dispuestos a pagar los gastos veterinarios si la mascota se enferma?</label>
                        <div class="form-group">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio1q13" value="Si" name="pregunta13"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="radio1q13">Si</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio2q13" value="No" name="pregunta13"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="radio2q13">No</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label>¿Están dispuestos a recoger sus excrementos cuando haga sus necesidades fuera de
                            casa?</label>
                        <div class="form-group">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio1q14" value="Si" name="pregunta14"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="radio1q14">Si</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio2q14" value="No" name="pregunta14"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="radio2q14">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label>¿Donde Dormirá la mascota?</label>
                        <input type="text" name="pregunta15" class="form-control">
                    </div>

                    <div class="col-md-12 mb-3">
                        <label>En caso de una ruptura en la familia (divorcio, fallecimiento) o de la llegada de un
                            nuevo integrante humano,¿Son concientes de que el adoptado será un miembro mas de la
                            familia?</label>
                        <div class="form-group">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio1q16" value="Si" name="pregunta16"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="radio1q16">Si</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio2q16" value="No" name="pregunta16"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="radio2q16">No</label>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12 mb-3">
                        <label>¿Son concientes de que el adoptado será un miembro mas de la familia?</label>
                        <div class="form-group">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio1q17" value="Si" name="pregunta17"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="radio1q17">Si</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio2q17" value="No" name="pregunta17"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="radio2q17">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label>¿Estan de acuerdo en que se haga una visita periódica a su domicilio para ver como se
                            encuentra el adoptado?</label>
                        <div class="form-group">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio1q18" value="Si" name="pregunta18"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="radio1q18">Si</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio2q18" value="No" name="pregunta18"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="radio2q18">No</label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12 mb-3">
                    <label>¿Que características buscan en la nueva mascota? (Especie, Tamaño, edad, sexo,
                        temperamento)</label>
                    <input type="text" name="pregunta19" class="form-control">
                </div>
                <div class="form-inline justify-content-end">
                    <a href="javascript:history.back()" class="btn btn-secondary  mr-sm-2">Atras</a>
    
                </div>
            </form>
        </div>
    </div>
</div>