<div class="form-main-wrapper">
    <img src="/img/silueta_logo.svg" alt="" class="silhouette">
    <div class="form-container">
        <div class="form-content">
            <form action="/employees/add" method="POST" class="signup-form">
                <h2 class="form-title">Registro De Empleados</h2>

                <div class="form-group">
                    <label>Nombre Completo</label>
                    <input type="text" name="nombre" class="form-control">
                </div>
                <div class="form-group">
                    <label>Correo Electronico</label>
                    <input type="email" class="form-control" name="email" aria-describedby="emailHelp"
                        placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label>Cedula</label>
                    <input type="text" name="cedula" class="form-control">
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                    <label>Confirmar Contraseña</label>
                    <input type="password" name="passwordConfirm" class="form-control" placeholder="Password">
                </div>
                <div class="form-textbox">
                    <button type="submit" name="submit" id="submit" class="submit" class="btn btn-primary">Registrar
                        Empleado</button>
                </div>
            </form>

        </div>
    </div>
</div>