<div class=" login-wrapper"  >
    <img src="/img/silueta_logo.svg" class="silhouette">


    <div class="login-container" style="width: 30rem;">
        <div class="form-content">
            <form class="login-form" action="/employees/login" method="POST">
                
                <h2 class="form-title">INICIE SESIÓN</h2>
                
                <div class="wrap-input m-b-23">
                    <span class="label-input">Correo electronico</span>
                    <input class="input" required type="email" id="email" name="email">
                    <span class="focus-input" data-symbol="&#xf007"></span>
                </div>

                <div class="wrap-input">
                    <span class="label-input">Contraseña</span>
                    <input class="input" required type="password" id="password" name="password">
                    <span class="focus-input" data-symbol="&#xf023"></span>
                </div>

                <div class="text-right p-t-8 p-b-31" style="padding-top: 1rem; padding-bottom: 1rem;">
                    <a href="#" data-toggle="modal" data-target="#exampleModal">
                        ¿Olvidó su contraseña?
                    </a>


                </div>
                <!-- Captura de algun mensaje-->
                {{>message}}

                <div class="wrap-login-form-btn">
                    <div class="login-form-bgbtn"></div>
                    <button type="submit" name="ingresar" class="login-form-btn">
                        Ingresar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Recuperacíon de contraseña</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/employees/restore_password" method="POST">
                <div class="modal-body">

                    <div class="form-group">
                        <label>Correo electronico con el que se registró:</label>
                        <input type="text" name="emailRec" class="form-control" placeholder="example@email.com" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" name="enviar" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>