<body>

    <div class="login-main-wrapper">
        <img src="/img/silueta_logo.svg" alt="" class="silhouette">
        <div class="login-container">
            <div class="sign-up-content">
                <form action="/employees/login" method="POST" class="signup-form"> 
                    <h2 class="form-title">LogIn Empleados</h2>

                    <div class="form-textbox">
                        <label >Email</label>
                        <input type="email" name="email"  />
                    </div>

                    <div class="form-textbox">
                        <label>Contraseña</label>
                        <input type="password" name="password"  />
                    </div>

                    <div class="form-textbox">
                        <input type="submit" name="submit" id="submit" class="submit" value="Login" />
                    </div>
                </form>

                <p class="register">
                    No tienes una cuenta?<a href="#" class="register-link">
                        Registrarse</a>
                </p>
            </div>
        </div>
    </div>
</body>