<script type="text/javascript">
    /*
        console.log(location.href)
        window.history.forward();
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
        */
    window.location.hash = "no-back-button"
    window.location.hash = "Again-No-back-button"
    window.onhashchange = function () { window.location.hash = "no-back-button" }
    //location.assign("/");
    //ocation.reload()

</script>


<div class="form-main-wrapper" style="height:90vh">
    <img src="/img/silueta_logo.svg" class="silhouette">
    <div class="form-container" style="width: 30vw;">
        <div class="form-content"
            style="height:100%; display:flex; flex-direction:column; justify-content:space-between">
            <h2 class="form-title">Se ha cerrado correctamente la sesión</h2>
            <div>
                <a class="btn btn-primary btn-lg btn-block" href="/">Ir al inicio</a>
            </div>
        </div>
    </div>
</div>