<img src="/img/pattern3.svg" class="silhouette">
<div class="form-main-wrapper adoptions-add">

    <div class="form-container">
        <div class="form-content">
            <form action="/adoptions/add" method="POST" class="signup-form">
                <h2 class="form-title"> <i class="fas fa-cat"></i>Nueva Adopción<i class="fas fa-dog"></i></h2>

                <div class="form-row">

                    <div class="col-md-12 mb-3 justify-content-center">
                        <label>Animal adoptar:</label>
                        <div class="img-wrap">
                            <img src="{{animal.ruta_imagen}}" onerror="this.src='/img/sin_imagen.png'"
                                class="animal-img">
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Nombre del animal:</label>
                        <input type="text" name="nombre" value="{{animal.nombre}}" class="form-control" readonly
                            required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Id del animal:</label>
                        <input type="text" name="id_animal" value="{{animal.id_animal}}" readonly aria-readonly="true"
                            class="form-control" required>
                    </div>



                    <div class="col-md-6 mb-3">
                        <label>Fecha de estudio:</label>
                        <input class="form-control" type="date" name="fecha_estudio" id="fecha_estudio" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Fecha de entrega:</label>
                        <input class="form-control" type="date" name="fecha_entrega" id="fecha_entrega" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Cédula del encargado del proceso:</label>
                        <input type="text" name="Empleado_cedula" value="{{user.cedula}}" readonly aria-readonly="true"
                            class="form-control" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Estado de la adopción:</label>
                        <div class="form-group">
                            <select class="custom-select" name="estado" required>
                                <option value="">Seleccione...</option>
                                <option value="En proceso" selected>En proceso</option>
                                <option value="Aprobada">Aprobada</option>
                                <option value="Denegada">Denegada</option>
                            </select>

                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>Cedula del adoptante(previamente registrado):</label>
                        <input type="text" name="id_adoptante" required maxlength="10" class="form-control" required>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label>Observaciones:</label>
                        <textarea class="form-control" rows="3" name="observaciones" rows="3"></textarea>
                    </div>
                    <div class="col-md-12 mb-3">
                         {{>message}}
                    </div>

                   
                </div>


                <div class="form-group">
                    <div class="wrap-login-form-btn">
                        <div class="login-form-bgbtn"></div>
                        <button type="submit" class="login-form-btn">
                            Crear proceso
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<script>

</script>