<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adopciones Fundamor</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    {{!-- Contiene los datos y recursos comunes en toda la aplicacion --}}
</head>


<body>

    {{>navigation}}
    {{{ body }}}
</body>

</html>